{{define "subject"}}Your OTP Code{{end}}

{{define "plainBody"}}
Hi,

Your OTP code is: {{.OTP}}

Please use this code to complete your verification.

Thanks,
The NSW Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>Your OTP code is: <strong>{{.OTP}}</strong></p>
<p>Please use this code to complete your verification.</p>
<p>Thanks,<br>The NSW Team</p>
</body>
</html>
{{end}}